body {
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: "Optima", sans-serif;
	margin: 0 auto;
	width: 95%;
	max-width: 1100px;
}

figure {
	float: right;
	margin-left: 20px;
	margin-top: -10px;
}

.leading{
	padding-left: 50px;
}

.container { 
	margin: 0 auto;
	width: 92%;
	max-width: 1200px;
}
.img1 {
	width:80%;
	height:80%;
}
.img2 {
	width:80%;
	height:80%;
}

p {
	margin: 10px 10px 20px 20px;
	line-height: 1.5em;
	font-family: "Georgia", sans-serif;
	font-size: 18px;
}

.his{
	display: grid;
	grid-template-columns: 1fr 1fr;
 	grid-template-rows: repeat(7, 1fr); 
  	gap: 10px 10px;
  	overflow: auto;

}

.history { 
	grid-area: 1 / 1 / 4 / 2;
	background-color: rgba(217, 217, 217);
	border-radius: 25px;
	margin: 15px;
	box-shadow: 5px 5px 5px 0 grey;
} 

.geo { 
	grid-area: 1 / 2 / 5 / 3;
	background-color: rgba(217, 217, 217);
	border-radius: 25px;
	margin: 15px;
	box-shadow: 5px 5px 5px 0 grey;} 

.climate {
	grid-area: 4 / 1 / 8 / 2;
	background-color: rgba(217, 217, 217);
	border-radius: 25px;
	margin: 15px;
	box-shadow: 5px 5px 5px 0 grey; }

.impact {
	grid-area: 5 / 2 / 8 / 3;
	background-color: rgba(217, 217, 217);
	border-radius: 25px;
	margin: 15px;
	box-shadow: 5px 5px 5px 0 grey; 
}


h1 {
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	color:#ffffff;
}

h2 {
	text-align: left;
	margin: 10px 10px 10px 10px;
	font-weight: bold;
	font-size: 45px;
	border-left: 5px solid #ffffff;
	padding-left:10px;
	color:#cccccc;
}

h3 {
	padding-left:10px;
	font-size:25px;
	margin-bottom: -5px;
	color:#1a1a1a;
}

header div {
	text-align: center;
	font-size:150%;
	padding: 5px 0 5px 0;
	margin-bottom: -2px;
	margin-top: -30px;
}

.intro {
	padding-bottom: 55px;
	margin-bottom: -50px;   
}

.intro p {
	font-size: 20px;
	color: #1a1a1a;
}

.intro figure {
	font-size: 18px;
	text-align: center;
}

aside .uncover {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	margin-top:-20px;
}

table,th,td {
	border: 2px solid black;
	border-collapse:collapse;
	color:black;
	margin-top: 10px;
	margin-left: 5%;
	margin-bottom: 50px;
	font-size: 19px;
}

th,td {
	padding:3px 20px 3px 20px;
	text-align:center;
}

table tr:nth-child(even) {
    background-color: rgba(128, 191, 255);
}
table tr:nth-child(odd) {
    background-color: rgba(217, 179, 255);
}

caption {
	padding-top:30px;
	font-size: 25px;
	font-weight: bold;
}
 
ul{
	margin-top: -5px;
}

.uncover h3 {
	margin-top: 8px;

}

.flow-box {
	color: #808080;
	display: flex;
	padding-left:0;
	justify-content: center;
	margin-top: -30px;
}

.flow-box li {
	list-style-type: none;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px;
	margin: 15px 80px 15px 30px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 0 grey;
}

footer h2 {
	margin-top: 30px;
	color: grey;
	border-left: 5px solid rgba(217, 217, 217);
}